<% include header.ejs %>
  <div id="choice">
  	<h1>Select 2FA method</h1>
  	<button id="googleButton">Google TOTP</button>
  </div>
  <div id="google">
  	<p>Enter Code</p>
  	<input id="code" name="code" type='number'>
  	<button id="submitG2FA">Submit</button>
  </div>
  <script src="u2f-api.js" type="text/javascript" ></script>
  <script type="text/javascript">
    var googleButton = document.getElementById('googleButton');
    googleButton.onclick = function() {
      document.getElementById('google').style.visibility = "visible";
    };
    var submitG2FA = document.getElementById('submitG2FA');
    submitG2FA.onclick = function() {
      var code = document.getElementById('code').value;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/loginG2FA', true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onreadystatechange = function() {
	    if (xhr.readyState == 4 && xhr.status == 200) {
	      window.location = '/user';
	    } else if (xhr.readyState == 4 && xhr.status !== 200) {
	      window.location = '/logout';
	    }
      }
      xhr.send('code='+code);
    }
  </script>
<% include footer.ejs %>