<% include header.ejs %>
    <div>
      <p>Set up the Two Factor Authentication</p>
      <h2>Google Authenticator (TOTP)</h2>
      <button id="setupGoogle">Google</button>
    </div>
    <div>
      <h3>Console</h3>
      <div id="workspace">
      </div>
    </div>
    <script type="application/javascript">
      function clearWorkspace() {
        var element = document.getElementById('workspace');
        while (element.firstChile) {
          element.removeChild(element.firstChild);
        }
      }

      var xhr = new XMLHttpRequest();
      var googleButton = document.getElementById('setupGoogle');
      googleButton.onclick = function setupGoogle() {
        clearWorkspace();
        xhr.open('GET', '/setupG2FA',true);
        xhr.onreadystatechange = function () {
          if(xhr.readyState == 4 && xhr.status == 200) {
            var message = document.createElement('p');
            message.innerHTML = 'Scan the QR code and hit submit';
            document.getElementById('workspace').appendChild(message);
            var qrurl = xhr.responseText;
            var image = document.createElement('img');
            image.setAttribute('src', qrurl);
            document.getElementById('workspace').appendChild(image);
            var code = document.createElement('input');
            code.setAttribute('type', 'number');
            code.setAttribute('id', 'code');
            document.getElementById('workspace').appendChild(code);
            var submitG2FA = document.createElement('button');
            submitG2FA.setAttribute('id', 'submitG2FA');
            submitG2FA.innerHTML = 'Submit';
            document.getElementById('workspace').appendChild(submitG2FA);
            submitG2FA.onclick = function() {
              var pass = document.getElementById('code').value;
              console.log(pass);
              var xhr2 = new XMLHttpRequest();
              xhr2.open('POST', '/loginG2FA', true);
              xhr2.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
              xhr2.onreadystatechange = function() {
                if (xhr2.readyState == 4 && xhr2.status == 200) {
                  clearWorkspace();
                  window.location='/logout';
                  document.getElementById('workspace').innerHTML='Google Authenticator all setup';
                  googleButton.disabled=true;
                } else if (xhr2.readyState == 4 && xhr2.status !== 200) {
                  clearWorkspace();
                  document.getElementById('workspace').innerHTML='Error setting up Google Authenticator';
                }
              }
              xhr2.send('code='+pass);
            }
          } else if (xhr.readyState == 4 && xhr.status !== 200) {
          	document.getElementById('workspace').innerHTML ="error setting up Google 2FA";
          }
        };
        xhr.send();
      }
    </script>
    <!-- <script src="u2f-api.js"></script> -->
<% include footer.ejs %>
