<% include header.ejs %>
<h1>Hello <%= name %></h1>
<p>Your Ether Wallet Addresses</p>
</p><button id="add"> Add Wallet</button></p>


<ul id="list">
<% for(var i=0; i < data.length; i++) { %>
            <li>
                <%= data[i].address %>
            </li>
        <% } %>
    </ul>
<p><a href="/logout">logout</a></p>
<script type="application/javascript">
    var xhr = new XMLHttpRequest();
    var add = document.getElementById('add');
    add.onclick = function() {
        xhr.open('GET', '/add', true);
        xhr.onload = function(){  
        li=document.createElement('li');
        text=document.createTextNode(JSON.parse(xhr.response).address);
        console.log(xhr.response)
        li.appendChild(text);
        ul=document.getElementById('list');
        ul.appendChild(li);
    }
        xhr.send();
    }
</script>

<% include footer.ejs %>